---

---

<section
  id="contact"
  style="width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; margin-bottom: 120px; box-sizing: border-box; padding: 0 50px;"
>
  <div
    style="width: 100%; max-width: 1430px; background: #0D1B15; border-radius: 24px; position: relative; overflow: hidden; min-height: 854px; display: flex; flex-direction: column; align-items: center; justify-content: center; box-sizing: border-box;"
  >
    <!-- Background Image - Confined to card -->
    <div style="position: absolute; inset: 0; z-index: 0;">
      <img
        src="https://framerusercontent.com/images/qsoSoWD5uSpAyMjA4dLCcdKFtc.png?width=5760&height=3832"
        alt="Surgical team"
        style="width: 100%; height: 100%; object-fit: cover; object-position: center;"
      />
      <!-- Overlay for readability -->
      <div
        style="position: absolute; inset: 0; background: rgba(13, 27, 21, 0.65);"
      >
      </div>
    </div>

    <!-- Content Row - With interior padding for alignment -->
    <div
      style="position: relative; z-index: 10; width: 100%; padding: 80px 60px; display: flex; justify-content: space-evenly; align-items: center; gap: 79px; box-sizing: border-box; flex-wrap: wrap;"
    >
      <!-- Left: Form Card (As Provided) -->
      <div
        class="reveal-on-scroll hover-lift"
        style="flex: 1 1 0; max-width: 500px; padding: 40px 20px; background: var(--color-white-solid, white); overflow: hidden; border-radius: 16px; flex-direction: column; justify-content: center; align-items: center; gap: 32px; display: inline-flex;"
      >
        <!-- HEADING: SCHEDULE APPOINTMENT (Absolute Positioned Letters) -->
        <div
          style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex;"
        >
          <div
            style="align-self: stretch; height: 115.19px; position: relative;"
          >
            <!-- Letters: Schedule your appointment now? -->
            <!-- First Row -->
            <div
              style="position:absolute; width:27.78px; height:57.59px; left:0; top:0;"
            >
              <div
                style="width:28.15px; height:58px; color:#0D1B15; font-size:48px; font-family:'Bricolage Grotesque'; font-weight:500; line-height:57.60px;"
              >
                S
              </div>
            </div>
            <div
              style="position:absolute; width:23.64px; height:57.59px; left:27.78px; top:0;"
            >
              <div
                style="width:23.98px; height:58px; color:#0D1B15; font-size:48px; font-family:'Bricolage Grotesque'; font-weight:500; line-height:57.60px;"
              >
                c
              </div>
            </div>
            <div
              style="position:absolute; width:26.19px; height:57.59px; left:51.42px; top:0;"
            >
              <div
                style="width:26.55px; height:58px; color:#0D1B15; font-size:48px; font-family:'Bricolage Grotesque'; font-weight:500; line-height:57.60px;"
              >
                h
              </div>
            </div>
            <div
              style="position:absolute; width:24.38px; height:57.59px; left:77.61px; top:0;"
            >
              <div
                style="width:24.73px; height:58px; color:#0D1B15; font-size:48px; font-family:'Bricolage Grotesque'; font-weight:500; line-height:57.60px;"
              >
                e
              </div>
            </div>
            <div
              style="position:absolute; width:26.63px; height:57.59px; left:101.98px; top:0;"
            >
              <div
                style="width:26.99px; height:58px; color:#0D1B15; font-size:48px; font-family:'Bricolage Grotesque'; font-weight:500; line-height:57.60px;"
              >
                d
              </div>
            </div>
            <div
              style="position:absolute; width:25.77px; height:57.59px; left:128.61px; top:0;"
            >
              <div
                style="width:26.12px; height:58px; color:#0D1B15; font-size:48px; font-family:'Bricolage Grotesque'; font-weight:500; line-height:57.60px;"
              >
                u
              </div>
            </div>
            <div
              style="position:absolute; width:9.34px; height:57.59px; left:154.38px; top:0;"
            >
              <div
                style="width:9.64px; height:58px; color:#0D1B15; font-size:48px; font-family:'Bricolage Grotesque'; font-weight:500; line-height:57.60px;"
              >
                l
              </div>
            </div>
            <div
              style="position:absolute; width:24.38px; height:57.59px; left:163.72px; top:0;"
            >
              <div
                style="width:24.73px; height:58px; color:#0D1B15; font-size:48px; font-family:'Bricolage Grotesque'; font-weight:500; line-height:57.60px;"
              >
                e
              </div>
            </div>
            <div
              style="position:absolute; width:25.38px; height:57.59px; left:196.91px; top:0;"
            >
              <div
                style="width:25.73px; height:58px; color:#0D1B15; font-size:48px; font-family:'Bricolage Grotesque'; font-weight:500; line-height:57.60px;"
              >
                y
              </div>
            </div>
            <div
              style="position:absolute; width:26px; height:57.59px; left:222.28px; top:0;"
            >
              <div
                style="width:26.36px; height:58px; color:#0D1B15; font-size:48px; font-family:'Bricolage Grotesque'; font-weight:500; line-height:57.60px;"
              >
                o
              </div>
            </div>
            <div
              style="position:absolute; width:25.77px; height:57.59px; left:248.28px; top:0;"
            >
              <div
                style="width:26.12px; height:58px; color:#0D1B15; font-size:48px; font-family:'Bricolage Grotesque'; font-weight:500; line-height:57.60px;"
              >
                u
              </div>
            </div>
            <div
              style="position:absolute; width:16.73px; height:57.59px; left:274.05px; top:0;"
            >
              <div
                style="width:17.13px; height:58px; color:#0D1B15; font-size:48px; font-family:'Bricolage Grotesque'; font-weight:500; line-height:57.60px;"
              >
                r
              </div>
            </div>
            <!-- Second Row -->
            <div
              style="position:absolute; width:24.22px; height:57.59px; left:0; top:57.59px;"
            >
              <div
                style="width:24.57px; height:58px; color:#0D1B15; font-size:48px; font-family:'Bricolage Grotesque'; font-weight:500; line-height:57.60px;"
              >
                a
              </div>
            </div>
            <div
              style="position:absolute; width:26.67px; height:57.59px; left:24.22px; top:57.59px;"
            >
              <div
                style="width:27.03px; height:58px; color:#0D1B15; font-size:48px; font-family:'Bricolage Grotesque'; font-weight:500; line-height:57.60px;"
              >
                p
              </div>
            </div>
            <div
              style="position:absolute; width:26.67px; height:57.59px; left:50.89px; top:57.59px;"
            >
              <div
                style="width:27.03px; height:58px; color:#0D1B15; font-size:48px; font-family:'Bricolage Grotesque'; font-weight:500; line-height:57.60px;"
              >
                p
              </div>
            </div>
            <div
              style="position:absolute; width:26px; height:57.59px; left:77.56px; top:57.59px;"
            >
              <div
                style="width:26.36px; height:58px; color:#0D1B15; font-size:48px; font-family:'Bricolage Grotesque'; font-weight:500; line-height:57.60px;"
              >
                o
              </div>
            </div>
            <div
              style="position:absolute; width:9.48px; height:57.59px; left:103.56px; top:57.59px;"
            >
              <div
                style="width:9.79px; height:58px; color:#0D1B15; font-size:48px; font-family:'Bricolage Grotesque'; font-weight:500; line-height:57.60px;"
              >
                i
              </div>
            </div>
            <div
              style="position:absolute; width:26.19px; height:57.59px; left:113.05px; top:57.59px;"
            >
              <div
                style="width:26.55px; height:58px; color:#0D1B15; font-size:48px; font-family:'Bricolage Grotesque'; font-weight:500; line-height:57.60px;"
              >
                n
              </div>
            </div>
            <div
              style="position:absolute; width:15.25px; height:57.59px; left:139.23px; top:57.59px;"
            >
              <div
                style="width:15.63px; height:58px; color:#0D1B15; font-size:48px; font-family:'Bricolage Grotesque'; font-weight:500; line-height:57.60px;"
              >
                t
              </div>
            </div>
            <div
              style="position:absolute; width:40.83px; height:57.59px; left:154.48px; top:57.59px;"
            >
              <div
                style="width:41.15px; height:58px; color:#0D1B15; font-size:48px; font-family:'Bricolage Grotesque'; font-weight:500; line-height:57.60px;"
              >
                m
              </div>
            </div>
            <div
              style="position:absolute; width:24.38px; height:57.59px; left:195.31px; top:57.59px;"
            >
              <div
                style="width:24.73px; height:58px; color:#0D1B15; font-size:48px; font-family:'Bricolage Grotesque'; font-weight:500; line-height:57.60px;"
              >
                e
              </div>
            </div>
            <div
              style="position:absolute; width:26.19px; height:57.59px; left:219.69px; top:57.59px;"
            >
              <div
                style="width:26.55px; height:58px; color:#0D1B15; font-size:48px; font-family:'Bricolage Grotesque'; font-weight:500; line-height:57.60px;"
              >
                n
              </div>
            </div>
            <div
              style="position:absolute; width:15.25px; height:57.59px; left:245.88px; top:57.59px;"
            >
              <div
                style="width:15.63px; height:58px; color:#0D1B15; font-size:48px; font-family:'Bricolage Grotesque'; font-weight:500; line-height:57.60px;"
              >
                t
              </div>
            </div>
            <div
              style="position:absolute; width:26.19px; height:57.59px; left:269.94px; top:57.59px;"
            >
              <div
                style="width:26.55px; height:58px; color:#0D1B15; font-size:48px; font-family:'Bricolage Grotesque'; font-weight:500; line-height:57.60px;"
              >
                n
              </div>
            </div>
            <div
              style="position:absolute; width:26px; height:57.59px; left:296.13px; top:57.59px;"
            >
              <div
                style="width:26.36px; height:58px; color:#0D1B15; font-size:48px; font-family:'Bricolage Grotesque'; font-weight:500; line-height:57.60px;"
              >
                o
              </div>
            </div>
            <div
              style="position:absolute; width:36.70px; height:57.59px; left:322.13px; top:57.59px;"
            >
              <div
                style="width:37.01px; height:58px; color:#0D1B15; font-size:48px; font-family:'Bricolage Grotesque'; font-weight:500; line-height:57.60px;"
              >
                w
              </div>
            </div>
            <div
              style="position:absolute; width:16.83px; height:57.59px; left:358.83px; top:57.59px;"
            >
              <div
                style="width:17.23px; height:58px; color:#0D1B15; font-size:48px; font-family:'Bricolage Grotesque'; font-weight:500; line-height:57.60px;"
              >
                ?
              </div>
            </div>
          </div>
        </div>

        <!-- FORM INPUTS (Astro Enhanced) -->
        <form
          id="contact-form"
          class="flex flex-col w-full"
          style="align-self: stretch; min-height: 486.80px; position: relative;"
        >
          <!-- Booking Name -->
          <div style="width: 100%; position: relative; margin-bottom: 24px;">
            <label
              for="booking-name"
              style="color: #0D1B15; font-size: 16px; font-family: 'Inter'; font-weight: 600; line-height: 27.20px; margin-bottom: 10px; display: block;"
            >
              Booking Name *
            </label>
            <div
              style="width: 100%; background: #F2F2EF; border-radius: 10px; padding: 15px 16px; border: 1px solid transparent; transition: border-color 0.3s ease;"
              class="input-wrapper"
            >
              <input
                id="booking-name"
                name="name"
                type="text"
                placeholder="Jane Smith"
                required
                style="background:transparent; border:none; width:100%; font-family:'Inter'; font-size:16px; color:#0d1b15; outline: none;"
              />
            </div>
          </div>
          <!-- Phone -->
          <div style="width: 100%; position: relative; margin-bottom: 24px;">
            <label
              for="phone"
              style="color: #0D1B15; font-size: 16px; font-family: 'Inter'; font-weight: 600; line-height: 27.20px; margin-bottom: 10px; display: block;"
            >
              Phone *
            </label>
            <div
              style="width: 100%; background: #F2F2EF; border-radius: 10px; padding: 15px 16px; border: 1px solid transparent; transition: border-color 0.3s ease;"
              class="input-wrapper"
            >
              <input
                id="phone"
                name="phone"
                type="tel"
                placeholder="(123) 123-1331"
                required
                style="background:transparent; border:none; width:100%; font-family:'Inter'; font-size:16px; color:#0d1b15; outline: none;"
              />
            </div>
          </div>
          <!-- Services -->
          <div style="width: 100%; position: relative; margin-bottom: 24px;">
            <label
              for="services"
              style="color: #0D1B15; font-size: 16px; font-family: 'Inter'; font-weight: 600; line-height: 27.20px; margin-bottom: 10px; display: block;"
            >
              Services *
            </label>
            <div
              style="width: 100%; background: #F2F2EF; border-radius: 10px; padding: 12px 16px; display:flex; justify-content:space-evenly; align-items:center; border: 1px solid transparent; transition: border-color 0.3s ease;"
              class="input-wrapper"
            >
              <select
                id="services"
                name="service"
                required
                style="background:transparent; border:none; flex:1; font-family:'Inter'; font-size:16px; color:rgba(13, 27, 21, 1); appearance:none; outline: none;"
              >
                <option value="" disabled selected>Select a service...</option>
                <option value="Aligners Treatment Planning">Aligners Treatment Planning</option>
                <option value="Clear Aligners Treatment Planning">Clear Aligners Treatment Planning</option>
                <option value="Clear Aligners Designing">Clear Aligners Designing</option>
                <option value="Clear Aligners Manufacturing">Clear Aligners Manufacturing</option>
                <option value="Outsourcing Treatment Planning">Outsourcing Treatment Planning</option>
              </select>
              <div style="width:16px; height:16px; position:relative; pointer-events: none;">
                <div
                  style="width:9px; height:4.5px; left:3.5px; top:6px; border:1.5px solid #0D1B15; border-top:none; border-left:none; transform:rotate(45deg);"
                >
                </div>
              </div>
            </div>
          </div>
          <!-- Date & Time -->
          <div style="width: 100%; display:flex; gap:16px; margin-bottom:24px;">
            <div style="flex:1;">
              <label
                for="date"
                style="color: #0D1B15; font-size: 16px; font-family: 'Inter'; font-weight: 600; line-height: 27.20px; margin-bottom: 10px; display: block;"
              >
                Date
              </label>
              <div
                style="width:100%; background:#F2F2EF; border-radius:10px; padding:12px 16px; border: 1px solid transparent; transition: border-color 0.3s ease;"
                class="input-wrapper"
              >
                <input
                  id="date"
                  name="date"
                  type="date"
                  style="background:transparent; border:none; width:100%; font-family:'Inter'; font-size:16px; color:rgba(13, 27, 21, 1); outline: none;"
                />
              </div>
            </div>
            <div style="flex:1;">
              <label
                for="time"
                style="color: #0D1B15; font-size: 16px; font-family: 'Inter'; font-weight: 600; line-height: 27.20px; margin-bottom: 10px; display: block;"
              >
                Time
              </label>
              <div
                style="width:100%; background:#F2F2EF; border-radius:10px; padding:12px 16px; border: 1px solid transparent; transition: border-color 0.3s ease;"
                class="input-wrapper"
              >
                <input
                  id="time"
                  name="time"
                  type="time"
                  style="background:transparent; border:none; width:100%; font-family:'Inter'; font-size:16px; color:rgba(13, 27, 21, 1); outline: none;"
                />
              </div>
            </div>
          </div>
          <!-- Submit Button -->
          <button
            type="submit"
            id="submit-btn"
            class="btn-premium-morph group"
            style="width: 100%; background: #D1FC71; border-radius: 100px; padding: 18px; color: #0D1B15; font-size: 16px; font-family: 'Inter'; font-weight: 600; border:none; cursor:pointer; transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1); position: relative; overflow: hidden;"
          >
            <span class="btn-text">Submit Request</span>
            <span class="btn-loader" style="display: none; position: absolute; inset: 0; align-items: center; justify-content: center; background: #D1FC71;">
              <svg class="animate-spin h-5 w-5 text-[#0D1B15]" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
              </svg>
            </span>
          </button>
          
          <!-- Success/Error Feedback -->
          <div id="form-feedback" style="margin-top: 16px; font-family: 'Inter'; font-size: 14px; text-align: center; display: none;"></div>
        </form>
      </div>

      <!-- Right: Info Text (As Provided) -->
      <div
        class="reveal-on-scroll stagger-1"
        style="flex: 1 1 0; max-width: 581px; align-self: stretch; flex-direction: column; justify-content: space-between; align-items: flex-start; display: inline-flex;"
      >
        <div
          style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 20px; display: flex;"
        >
          <div
            style="align-self: stretch; padding-bottom:12px; border-bottom:1px solid rgba(255,255,255,0.1); flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex;"
          >
            <div
              style="color: #F5F4F7; fontSize: 16px; fontFamily: 'Jost'; font-weight: 400; line-height: 27.20px;"
            >
              Reserve Now — WhatsApp: +92 321 9473647
            </div>
          </div>
          <div
            style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: flex;"
          >
            <div
              style="color: white; font-size: 64px; font-family: 'Bricolage Grotesque'; font-weight: 500; line-height: 73.60px;"
            >
              Customer Care
            </div>
            <div
              style="color: #F2F2EF; font-size: 20px; font-family: 'Bricolage Grotesque'; font-weight: 500; line-height: 28px; opacity: 0.9;"
            >
              Have questions or need to schedule an appointment? Our friendly
              team is always here to help you. Reach out to us today and let’s
              keep your practice running efficiently.
            </div>
          </div>
        </div>

        <!-- Feature Row (As Provided) -->
        <div
          style="align-self: stretch; justify-content: flex-start; align-items: flex-start; gap: 32px; display: inline-flex; flex-wrap: wrap;"
        >
          <div
            style="flex: 1 1 0; min-width: 250px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 16px; display: inline-flex;"
          >
            <div
              style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex;"
            >
              <div
                style="width: 24px; height: 24px; background: #D1FC71; border-radius: 4px; display: flex; align-items: center; justify-content: center;"
              >
                <svg
                  width="14"
                  height="14"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="#0D1B15"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  ><polyline points="20 6 9 17 4 12"></polyline></svg
                >
              </div>
              <div
                style="color: white; font-size: 28px; font-family: 'Gilda Display'; font-weight: 400; line-height: 39.20px;"
              >
                Quick Response.
              </div>
            </div>
            <div
              style="color: white; font-size: 16px; font-family: 'Jost'; font-weight: 400; line-height: 27.20px; opacity: 0.8;"
            >
              We’ll quickly confirm your appointment once it’s scheduled.
            </div>
          </div>
          <div
            style="flex: 1 1 0; min-width: 250px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 16px; display: inline-flex;"
          >
            <div
              style="align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex;"
            >
              <div
                style="width: 24px; height: 24px; background: #D1FC71; border-radius: 4px; display: flex; align-items: center; justify-content: center;"
              >
                <svg
                  width="14"
                  height="14"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="#0D1B15"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  ><path d="M22 12h-4l-3 9L9 3l-3 9H2"></path></svg
                >
              </div>
              <div
                style="color: white; font-size: 28px; font-family: 'Gilda Display'; font-weight: 400; line-height: 39.20px;"
              >
                3D Treatment Plan.
              </div>
            </div>
            <div
              style="color: white; font-size: 16px; font-family: 'Jost'; font-weight: 400; line-height: 27.20px; opacity: 0.8;"
            >
              Once scheduled, we’ll provide your appointment time and options.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  const contactForm = document.getElementById('contact-form') as HTMLFormElement;
  const submitBtn = document.getElementById('submit-btn');
  const btnText = submitBtn?.querySelector('.btn-text');
  const btnLoader = submitBtn?.querySelector('.btn-loader') as HTMLElement;
  const feedback = document.getElementById('form-feedback');

  // Input focus effects
  const wrappers = document.querySelectorAll('.input-wrapper');
  wrappers.forEach(wrapper => {
    const input = wrapper.querySelector('input, select');
    if (input) {
      input.addEventListener('focus', () => {
        (wrapper as HTMLElement).style.borderColor = '#D1FC71';
        (wrapper as HTMLElement).style.background = '#FFFFFF';
        (wrapper as HTMLElement).style.boxShadow = '0 0 0 4px rgba(209, 252, 113, 0.1)';
      });
      input.addEventListener('blur', () => {
        (wrapper as HTMLElement).style.borderColor = 'transparent';
        (wrapper as HTMLElement).style.background = '#F2F2EF';
        (wrapper as HTMLElement).style.boxShadow = 'none';
      });
    }
  });

  contactForm?.addEventListener('submit', async (e) => {
    e.preventDefault();
    
    // UI Loading State
    if (submitBtn) (submitBtn as HTMLButtonElement).disabled = true;
    if (btnText) (btnText as HTMLElement).style.opacity = '0';
    if (btnLoader) btnLoader.style.display = 'flex';
    if (feedback) {
      feedback.style.display = 'none';
      feedback.textContent = '';
    }

    const formData = new FormData(contactForm);
    const data = Object.fromEntries(formData.entries());

    try {
      // Simulate API call - Replace with actual endpoint if available
      await new Promise(resolve => setTimeout(resolve, 1500));
      
      console.log('Form Submitted:', data);
      
      // Success Feedback
      if (feedback) {
        feedback.style.display = 'block';
        feedback.style.color = '#0D1B15';
        feedback.textContent = 'Message sent successfully! We will contact you soon.';
      }
      contactForm.reset();
    } catch (error) {
      // Error Feedback
      if (feedback) {
        feedback.style.display = 'block';
        feedback.style.color = '#EF4444';
        feedback.textContent = 'Something went wrong. Please try again or call us directly.';
      }
    } finally {
      // Restore UI
      if (submitBtn) (submitBtn as HTMLButtonElement).disabled = false;
      if (btnText) (btnText as HTMLElement).style.opacity = '1';
      if (btnLoader) btnLoader.style.display = 'none';
    }
  });
</script>

<style>
  .input-wrapper {
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.02);
  }
  
  /* Select arrows and other overrides */
  select {
    cursor: pointer;
  }
  
  /* Premium Button Hover Override for this form */
  #submit-btn:hover:not(:disabled) {
    background: #0D1B15 !important;
    color: #D1FC71 !important;
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(13, 27, 21, 0.15);
  }
  
  #submit-btn:disabled {
    cursor: not-allowed;
    opacity: 0.7;
  }

  .animate-spin {
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
</style>
