---
---
<section class="flex flex-col items-center justify-start w-full max-w-[1540px] mx-auto px-6 md:px-[50px] pt-0 pb-12 md:pb-[120px] relative">
  <div class="w-full h-[300px] md:h-[600px] lg:h-[854px] relative overflow-hidden rounded-[20px]">
    <figure class="m-0 w-full h-full relative">
      <img
        src="https://framerusercontent.com/images/qsoSoWD5uSpAyMjA4dLCcdKFtc.png?width=5760&height=3832"
        alt="Surgical team in gowns preparing procedure"
        class="w-full h-full object-cover object-center"
      />
    </figure>
  </div>
</section>
