---

---

<section
  class="flex flex-col items-center justify-start w-full max-w-[1540px] mx-auto px-6 md:px-[50px] pt-0 pb-12 md:pb-[120px] relative"
>
  <div
    class="w-full h-[300px] md:h-[600px] lg:h-[854px] relative overflow-hidden rounded-[20px]"
  >
    <figure class="m-0 w-full h-full relative">
      <img
        src="https://images.pexels.com/photos/3183158/pexels-photo-3183158.jpeg?auto=compress&cs=tinysrgb&w=2000"
        alt="Technical Team Collaboration"
        class="w-full h-full object-cover object-center"
      />
    </figure>
  </div>
</section>
